<ion-view view-title="Take Photo">
  <ion-content class="padding">
    <div class="list choose-set">
      <div id="patient-name-input" ng-click="toggleInputSelected()">
        Patient Name
      </div>
      </br>
      <div id="set-name-input" ng-click="uncheckSet()">
        Incident
      </div>
      <div ng-click="submit()" class="choose-set-to-add-image">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <!-- List of Patients -->
    <ion-list ng-show="inputSelected && !isPatientChosen" class="animate-hide">
      <!-- search bar -->
      <ion-item>

      
      </ion-item>
      <ion-item class="item-remove-animate" ng-repeat="patient in patients" type="item-text-wrap" ng-click="fillInPatientName(patient.id, patient.full_name)" aria-label="Toggle ngHide">
        <h2>{{patient.full_name}}</h2>
      </ion-item>
    </ion-list>

    <!-- List of Sets Associated With Chosen Patient -->
    <ion-list ng-show="inputSelected && isPatientChosen && !isSetChosen" class="animate-hide">   
      <ion-item class="item-remove-animate" ng-repeat="set in sets" type="item-text-wrap" ng-click="chooseSet(set.id, set.name)">
        <h2>{{set.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<script>
  
</script>